@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Applicant Name: Erwin Roy A. Arellano</p>
    <p>Exam Date: August 30 - September 6, 2023 </p>
</div>
